/* Styles of login page needs to be written here */
.sub-text{
    font-weight: 600;
    font-size: 45px;
    justify-content: center;
    text-align: center;
    color: #51ce8d;
}

body{
    color:#51ceca;
}

.btn{
    width: 100%;
}

.hover01 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
.hover01:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.under-text{
    color: #51ce96;
 }

 .signup{
    padding-top: 20px;
}

.card{
    margin-bottom: 40px;
    position: absolute;
    right: 50px;
}








